.partenaire{
    width: 36px;
    height: 36px;
    margin-left: 3px;
}

.tetxtajuscule{

    text-transform: uppercase;
}
.nav-link-perso{
    color: #6c757d !important;
    letter-spacing: 1px;
}
.imgTelephone{
    background-color: #ffcd39;
}
.telephone{
    color: #0a53be;
}
.coverImage {
    width: 100%;
height: 400px !important;
}
.row{
    margin-right: 2px !important;
    margin-left: 2px !important;
}
.card-header{
    background-color: #084298 !important;
}
.titre_2{
    font-size: 12px;
    opacity: 0.33;
}